{% extends 'base.html' %}
{% block title %} Todo {% endblock title %}
{% block body %}

    <div class="container my-3" >
        <h3 class="text-center">Update Todo</h3>
        <form action="/update/{{UpdateTodo.sno}}" method="POST">
            <div class="mb-1">
                <label for="title" class="form-label"><b>Title:</b></label>
                <input type="text" class="form-control" name="title" id="title" value="{{UpdateTodo.title}}" >
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label"><b>Description:</b></label>
                <input type="text" class="form-control" name="desc" id="desc" value="{{UpdateTodo.desc}}" >
            </div>
            <button type="submit" class="btn btn-sm btn-dark">Update</button>
        </form>
    </div>
    
{% endblock body %}